<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="">

<meta property="og:type" content="website" /><!-- fb分享的TYPE，固定不動  -->
<meta property="og:title" content=""/> <!-- fb分享的TITLE，給文章標題  -->
<meta property="og:description" content=""/> <!-- fb分享的內容描述，給內文一段內容 -->
<meta property="og:url" content=""/> <!-- fb分享網頁的連結 給該內頁連結 -->
<meta property="og:image" content=""/> <!-- fb分享圖片URL 給後台上傳fb圖片連結 -->

<link rel="shortcut icon" href="images/logo.jpg">
<link rel="stylesheet" href="css/plugin.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/plugin.js"></script>
<script src="js/main.js"></script>
<!-- <script src="js/easyResponsiveTabs.js"></script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122498224-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122498224-1');
</script>