<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.jpg" height="100%" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">首頁</a>
                </li>
                <li>
                    <a href="about.html">關於我們</a>
                </li>
                <li>
                    <a href="topic.html">我們的服務</a>
                </li>
                <li>
                    <a href="memory.html">印象・馬哥</a>
                </li>
                <li>
                    <a href="desktop.html">桌布下載</a>
                </li>
                <li>
                    <a href="store.html">門市資訊</a>
                </li>
                <li>
                    <a href="topic.html#parentHorizontalTab4" onClick="window.location.reload()">餐飲</a>
                </li>
                <li>
                    <a href="contact.html">企業合作</a>
                </li>
                <li >
                    <a href="https://www.facebook.com/MarcoPoloBakingCompany/videos/460314997763548/" class="fb" target="_blank">
                        <img src="images/fb.png">
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>