<div class="section--title">產品介紹<span></span></div>
<div class="section--content">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<img src="file/product/水果磅蛋糕_m.JPG">
			<div class="prod_box">
				<div class="prod-text prod-text--title">水果磅蛋糕</div>
				<div class="prod-text prod-text--subtitle">產品介紹</div>
				<div class="prod-text prod-text--intro">產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹</div>
				<div class="prod-text prod-text--subtitle">產品說明</div>
				<div class="prod-text prod-text--intro">產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="file/product/咖啡核桃餅乾_m.JPG">
			<div class="prod_box">
				<div class="prod-text prod-text--title">咖啡核桃餅乾</div>
				<div class="prod-text prod-text--subtitle">產品介紹</div>
				<div class="prod-text prod-text--intro">產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹</div>
				<div class="prod-text prod-text--subtitle">產品說明</div>
				<div class="prod-text prod-text--intro">產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="file/product/起司馬鈴薯_m.JPG">
			<div class="prod_box">
				<div class="prod-text prod-text--title">起司馬鈴薯</div>
				<div class="prod-text prod-text--subtitle">產品介紹</div>
				<div class="prod-text prod-text--intro">產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹</div>
				<div class="prod-text prod-text--subtitle">產品說明</div>
				<div class="prod-text prod-text--intro">產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明</div>
			</div>
		</div>
	</div>
</div>
<div class="more_area">
	<div class="more btn_hover">所有產品</div>
</div>