<div class="section--title">門市資訊<span></span></div>
<div class="section--content homepage_store">
	<div class="row">
		<!-- <div class="col-xs-12 col-sm-4">
			<img src="file/home_store/DSC02471.jpg">
			<div class="prod_box">
				<div class="prod-text prod-text--title">馬哥孛羅麵包店 (中山店)</div>
				<div class="prod-text prod-text--center">地址：中山北路一段77號</div>
				<div class="prod-text prod-text--center">電話：(02)2521-5391</div>
				<div class="prod-text prod-text--tag">◆各式麵包糕點 ◆咖啡茶飲 ◆14個座位</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="file/home_store/DSC00519.jpg">
			<div class="prod_box">
				<div class="prod-text prod-text--title">馬哥孛羅貝果專賣店 (金橋店)</div>
				<div class="prod-text prod-text--center">地址：重慶南路一段147號</div>
				<div class="prod-text prod-text--center">電話：(02)2382-1762</div>
				<div class="prod-text prod-text--tag">◆各式麵包糕點 ◆咖啡茶飲 ◆三明治簡餐 ◆39個座位</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="file/home_store/DSC08058.jpg">
			<div class="prod_box">
				<div class="prod-text prod-text--title">馬哥孛羅麵包 (博愛店)</div>
				<div class="prod-text prod-text--center">地址：博愛路105號</div>
				<div class="prod-text prod-text--center">電話：(02)2331-2102</div>
				<div class="prod-text prod-text--tag">◆各式麵包糕點 ◆無座位</div>
			</div>
		</div> -->
	</div>
</div>
<div class="more_area">
	<a href="store.html" class="more btn_hover">詳細資訊</a>
</div>