<div class="section--title">我們的服務<span></span></div>
<div class="section--content homepage_topic">
	<div class="row">
		<!-- <div class="col-xs-12 col-sm-4">
			<img src="file/home_product/1.jpg">
			<div class="prod_box">
				<a href="topic.html#parentHorizontalTab1">
					<div class="prod-text prod-text--title">各式麵包</div>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="file/home_product/2.jpg">
			<div class="prod_box">
				<a href="topic.html#parentHorizontalTab2"><div class="prod-text prod-text--title">招牌貝果</div></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="file/home_product/3.jpg">
			<div class="prod_box">
				<a href="topic.html#parentHorizontalTab3"><div class="prod-text prod-text--title">餐飲</div></a>
			</div>
		</div> -->
	</div>
</div>
<!-- <div class="more_area">
	<div class="more btn_hover">所有產品</div>
</div> -->