//一些最全局樣式的設置

$color1:#FD1B3F;
$color2:#373737;
$color3:#6AC217;
$color4:#403ED3;
$color5:#ffffff;
$color6:#000000;

$main_color:#004704;
$light_green:#458148;

// **`body>`的背景顏色。
$body-bg:   $color5 !default;
// **``body>`上的全局文本顏色。
$text-color: $color2 !default;

//**  link color.
$link-color: $color4!default;

//字體

$font_0:12px;//基礎
$font_1:($font_0+1)!default;//13
$font_2:($font_1+1)!default;//14
$font_3:($font_2+1)!default;//15
$font_4:($font_3+1)!default;//16
$font_5:($font_4+1)!default;//17
$font_6:($font_5+1)!default;//18
$font_7:($font_6+1)!default;//19
$font_8:($font_7+1)!default;//20
$font_9:($font_8+1)!default;
$font_10:($font_9+1)!default;
$font_11:($font_10+1)!default;
$font_12:($font_11+1)!default;
$font_13:($font_12+1)!default;
$font_14:($font_13+1)!default;
$font_15:($font_14+1)!default;
$font_16:($font_15+1)!default;
$font_17:($font_16+1)!default;
$font_18:($font_17+1)!default;
$font_19:($font_18+1)!default;
$font_20:($font_19+1)!default;
$font_21:($font_20+1)!default;
$font_22:($font_21+1)!default;
$font_23:($font_22+1)!default;
$font_24:($font_23+1)!default;
$font_25:($font_24+1)!default;
$font_26:($font_25+1)!default;
$font_27:($font_26+1)!default;
$font_28:($font_27+1)!default;

// Defining values
$rwd-sm-min: 768px;
$rwd-xs-max: ($rwd-sm-min - 1);
$rwd-md-min: 992px;
$rwd-sm-max: ($rwd-md-min - 1);
$rwd-lg-min: 1200px;
$rwd-md-max: ($rwd-lg-min - 1);

// Usage
//@media (max-width: $rwd-xs-max) { }//767
//@media (min-width: $rwd-sm-min) { }//768
//@media (max-width: $rwd-sm-max) { }//991
//@media (min-width: $rwd-md-min) { }//992
//@media (max-width: $rwd-md-max) { }//1190
//@media (min-width: $rwd-lg-min) { }//1200
//@media (min-width: $mobile) { }
$pc: 1024px;
$tablet: 960px;
$mobile: 640px;
$mobile_portrait: 420px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
$iphone5-portrait: 320px;
$iphone5-landscape: 568px;
$iphone6-portrait: 375px;
$iphone6-landscape: 667px;
$iphone6Plus-portrait: 414px;
$iphone6-landscape: 736px;
$full: 100%;
$max-width: 1800px;
// ***********************
// shadow
// ***********************
$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
$box-shadow1: 0 1px 6px 0 rgba(0, 0, 0, .36);

//函式(Mixins)
@mixin css3-transition($i) {
transition: width $i;
-moz-transition: width $i;
-webkit-transition: width $i; 
-o-transition: width $i;
}
.post {
@include css3-transition(5s);
}

//繼承(Extend)
//body {
//margin:0
//padding: 0;
//color: #333;
//}
//h1 {
//@extend body;
//font-size:30px;
//}

@mixin transitionr-all($arc) { 
    transition: all $arc ease;
    -moz-transition: all $arc ease;
    -webkit-transition: all $arc ease; }
//@include transitionr-all(0.8s);

@-webkit-keyframes rotate{
		from{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		}to{
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}}
@-moz-keyframes{
		from{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		}to{
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
	}}
@-o-keyframes{
		from{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		}to{
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}}
@keyframes rotate{
		from{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		}to{
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}}

@mixin rotate-all($arc){animation:rotate infinite linear $arc;
		-webkit-animation:rotate infinite linear $arc;
		-moz-animation:rotate infinite linear $arc;
}//旋轉
//@include rotate-all(0.8s);


%bg-image { width: 100%; background-position: center center;
    background-size: cover; background-repeat: no-repeat; }
//.image-one { @extend %bg-image;  }

@function calculate-width ($col-span) {
  @return 100% / $col-span;
}
//
//.span-two {
//  width: calculate-width(2); // spans 2 columns, width = 50%
//}

