$inherit:inherit;
// $font_family: '微軟正黑體', Arial, sans-serif,'新細明體',Microsoft JhengHei,"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
$font-family: Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "sans-serif";

@font-face {
    font-family: myFirstFont;
    src: url(./font/Verdana.ttf);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, img, strong, ol, ul, li, fieldset, form, label, legend, table, tr, th, td, embed,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
    vertical-align: baseline;
	-webkit-text-size-adjust:none;/*google瀏覽器字體大小鎖定解除*/
}
/*部份瀏覽器在表單元素的字型樣式跟內文會不一樣，故設為繼承保持一致*/
input, button, textarea, select, optgroup, option {
        font-family: $inherit;
        font-size: $inherit;
        font-style: $inherit;
        font-weight: $inherit;
}

body, *, html{
	margin: 0;
	font-family: $font_family ;
    font-size:$font_2;
    font-weight: normal;
}
section {
    overflow-x: hidden;
}
.clear {clear: both;}
input:focus::-webkit-input-placeholder {
/*color: #fff; */
   opacity: 0;
-webkit-transition: color.2s;
}
textarea:focus::-webkit-input-placeholder {
 color: transparent;
-webkit-transition: color.2s;
}
textarea, input {
	outline: none;
}
.fl{ float:left;}
.fr{ float: right;}

.pc_show {
	display: block !important;
    @media (max-width:$rwd-sm-min) {
    	// max 768px
    	display: none !important;
    }
}
.mb_show {
	display: none !important;
    // @media (max-width:$rwd-sm-min) {
	@media (max-width:$rwd-sm-min) {
    	display: block !important;
    }
}
