<div class="section--title">印象・馬可<span></span></div>
<div class="section--content">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div id="timeline">
                <ul id="dates">
                    <li><a href="#">1965年</a></li>
                    <li><a href="#">1989年</a></li>
                    <li><a href="#">2016年</a></li>
                </ul>
                <ul id="issues">
                    <li id="y1">
                        <p>東華書局成立於重慶南路。</p>
                    </li>
                    <li id="y2">
                        <p>東華書局於書店裡設立餐廳和麵包店。二樓「馬哥孛羅餐廳」推出五星級飯店檔次的自助式百匯餐飲。一樓「馬哥孛羅麵包店」引進德法日機器和技術，提供正宗法式麵包。</p>
                    </li>
                    <li id="y3">
                        <p>「馬哥孛羅餐廳」和「馬哥孛羅麵包店」重新斥資裝潢為「馬哥孛羅金橋店」和「馬哥孛羅中山店」。</p>
                    </li>
                    
                </ul>
                <div class="year_circle"></div>
                <div id="grad_left"></div>
                <div id="grad_right"></div>
                <a href="#" id="next">+</a>
                <a href="#" id="prev">-</a>
            </div>
            <!-- <div id="timeline">
                <ul id="dates">
                    <li><a href="#">1965年</a></li>
                    <li><a href="#">1989年</a></li>
                    <li><a href="#">2016年</a></li>
                </ul>
                <ul id="issues">
                    <li id="date1">
                        <p>Lorem ipsum.</p>
                    </li>
                    <li id="date2">
                        <p>Lorem ipsum.</p>
                    </li>
                    <li id="date2">
                        <p>Lorem ipsum.</p>
                    </li>
                </ul>
                <a href="#" id="next">+</a>
                <a href="#" id="prev">-</a>
            </div> -->
        </div>
    </div>
</div>
<div class="more_area">
    <div class="more btn_hover">尋找印象</div>
</div>