<div class="kv_slider">
    <!-- <div>
        <div class="kv_text t1"></div>
        <picture>
            <source media="(max-width: 767px)" srcset="file/home_banner/banner_01_xs.jpg">
            <img src="file/home_banner/banner_01_sm.jpg">
        </picture>
        <a href="topic.html#parentHorizontalTab1" class="more btn_hover">了解更多</a>
    </div>
    <div>
        <div class="kv_text t2"></div>
        <picture>
            <source media="(max-width: 767px)" srcset="file/home_banner/banner_02_xs.jpg">
            <img src="file/home_banner/banner_02_sm.jpg">
        </picture>
        <a href="topic.html#parentHorizontalTab2" class="more btn_hover">了解更多</a>
    </div>
    <div>
        <div class="kv_text t3"></div>
        <picture>
            <source media="(max-width: 767px)" srcset="file/home_banner/banner_03_xs.jpg">
            <img src="file/home_banner/banner_03_sm.jpg">
        </picture>
        <a href="topic.html#parentHorizontalTab3" class="more btn_hover">了解更多</a>
    </div> -->
</div>