<div class="section--title">產品介紹<span></span></div>
<div class="section--content">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<img src="images/prod1.jpg">
			<div class="prod_box">
				<div class="prod-text prod-text--title">產品名稱</div>
				<div class="prod-text prod-text--subtitle">產品介紹</div>
				<div class="prod-text prod-text--intro">產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹</div>
				<div class="prod-text prod-text--subtitle">產品說明</div>
				<div class="prod-text prod-text--intro">產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="images/prod2.jpg">
			<div class="prod_box">
				<div class="prod-text prod-text--title">產品名稱</div>
				<div class="prod-text prod-text--subtitle">產品介紹</div>
				<div class="prod-text prod-text--intro">產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹</div>
				<div class="prod-text prod-text--subtitle">產品說明</div>
				<div class="prod-text prod-text--intro">產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<img src="images/prod3.jpg">
			<div class="prod_box">
				<div class="prod-text prod-text--title">產品名稱</div>
				<div class="prod-text prod-text--subtitle">產品介紹</div>
				<div class="prod-text prod-text--intro">產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹</div>
				<div class="prod-text prod-text--subtitle">產品說明</div>
				<div class="prod-text prod-text--intro">產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明產品說明</div>
			</div>
		</div>
	</div>
</div>
<div class="more_area">
	<div class="more">所有產品</div>
</div>