<div class="section--title">印象・馬可<span></span></div>
<div id="timeline">
    <ul id="dates">
        <li><a href="#">date1</a></li>
        <li><a href="#">date2</a></li>
    </ul>
    <ul id="issues">
        <li id="date1">
            <p>Lorem ipsum.</p>
        </li>
        <li id="date2">
            <p>Lorem ipsum.</p>
        </li>
    </ul>
    <a href="#" id="next">+</a>
    <!-- optional -->
    <a href="#" id="prev">-</a>
    <!-- optional -->
</div>