.navbar {
    min-height: 80px;
    margin-bottom: 0px;
    @media (max-width: $rwd-xs-max) {
        min-height: 69px;
    }
    .navbar-brand {
        height: 80px;
        padding: 5px 5px 10px;
        margin-left: 0px;
        @media (max-width: $rwd-xs-max) {
            height: auto;
            width: 80px;
        }
        img {
            width: auto;
            @media (max-width: $rwd-xs-max) {
                width: 100%;
            }
        }
    }
    .navbar-toggle {
        @media (max-width: $rwd-xs-max) {
            margin-top: 20px;
            margin-right: 20px;
        }
    }
}

.navbar-default {
    background: #fdfdfd;
    border-color: $main_color;
    .navbar-collapse.in {
        max-height: 100%;
    }
    .navbar-nav {
        float: right;
        @media (max-width: $rwd-xs-max) {
            float: none;
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        li {
            @media (max-width: $rwd-xs-max) {
                border-bottom: 1px solid #ddd;
            }
            & > a {
                padding: 30px 0px 5px;
                margin: 0px 20px;
                color: $main_color;
                font-weight: bold;
                font-size: 15px;
                line-height: 1.5em;
                position: relative;
                top: 0;
                // -webkit-transition: all 0.5s; /* Safari */
                // transition: all 0.5s;
                @media (max-width: $rwd-sm-min) { //pad
                    margin: 0px 7px;
                }
                @media (max-width: $rwd-xs-max) { //mobile
                    padding: 10px 0px;
                }
                &:hover {
                    // background:#eee;
                    border-bottom: 2px solid $main_color;
                    &:before {
                        content: '';
                        height: 6px;
                        width: 6px;
                        border-radius: 10px;
                        display: inline-block;
                        background: $main_color;
                        position: absolute;
                        left: -5px;
                        bottom: -4px;
                        @media (max-width: $rwd-xs-max) {
                            right: 26.5%;
                        }
                    }
                    &:after {
                        content: '';
                        height: 6px;
                        width: 6px;
                        border-radius: 10px;
                        display: inline-block;
                        background: $main_color;
                        position: absolute;
                        right: -5px;
                        bottom: -4px;
                        @media (max-width: $rwd-xs-max) {
                            right: 26.5%;
                        }
                    }

                    @media (max-width: $rwd-xs-max) {
                        border-bottom: 0px;
                        &:before,&:after {
                            display: none;
                        }
                    }
                }
                &.fb {
                    &:hover {
                        border-bottom: 0px;
                        &:before, &:after {
                            display: none;
                        }
                    }
                    img {
                        margin-top: -10px;
                        width: 45px;
                    }
                }
            }
        }
    }
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    height: 28px;
    width: 34px;
    margin: -12px 0 0 -12px;
    border-radius: 100%;
    background-image: url(./../images/icon_bread.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 13px;
    height: 13px;
    margin: 10px 0px;
    position: relative;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 10px;
    border: 0;
    background-color: #bbbcbd;
}