#section0,
#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7 {
    position: relative;
    overflow-x: hidden;
}
img {
	width: 100%;
}

.fb_vedio {
	text-align: center;
    margin: 20px auto;
}

.marginTop {
	margin-top: 80px;
}
*:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.section--title {
	font-size: 26px;
	font-weight: bold;
	font-family: serif;
	color: $main_color;
	text-align: center;
	display: block;
	margin: 15px auto;
	position: relative;
	@media (max-width: $iphone6-portrait){
		font-size: 24px;
	}
	@media (max-width: $iphone5-portrait){
		font-size: 20px;
	}
	&:before {
	    content: '';
	    height: 8px;
	    width: 8px;
	    border-radius: 10px;
	    display: inline-block;
	    background: #004704;
	    position: absolute;
	    left: 40.5%;
	    top: 19px;
	    @media (max-width: $rwd-md-min){
			left: 35%;
	    }
	    @media (max-width: $rwd-sm-min) {
			left: 38%;
	    }
	    @media (max-width: $rwd-xs-max) {
	    	left: 28%;
	    }
	}
	&:after {
	    content: '';
	    height: 2px;
	    width: 41%;
	    display: inline-block;
	    background: #004704;
	    position: absolute;
	    left: 0px;
	    top: 22px;
	    @media (max-width: $rwd-md-min){
	    	width: 35%;
	    }
	    @media (max-width: $rwd-sm-min) {
			width: 38%;
	    }
	    @media (max-width: $rwd-xs-max) {
	    	width: 28%;
	    }
	}
	span {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: inline-block;
		&:before {
		    content: '';
		    height: 8px;
		    width: 8px;
		    border-radius: 10px;
		    display: inline-block;
		    background: $main_color;
		    position: absolute;
		    right: 40.5%;
		    top: 19px;
			@media (max-width: $rwd-md-min){
		    	right: 35%;
		    }
		    @media (max-width: $rwd-sm-min) {
				right: 38%;
		    }
		    @media (max-width: $rwd-xs-max) {
		    	right: 28%;
		    }
		}
		&:after {
		    content: '';
		    height: 2px;
		    width: 41%;
		    display: inline-block;
		    background: $main_color;
		    position: absolute;
		    right: 0px;
		    top: 22px;
		    @media (max-width: $rwd-md-min){
		    	width: 35%;
		    }
		    @media (max-width: $rwd-sm-min) {
				width: 38%;
		    }
		    @media (max-width: $rwd-xs-max) {
		    	width: 28%;
		    }
		}
	}
}
.section--content {
	padding: 20px 3%;
	@media (max-width: $rwd-xs-max) {
		padding: 20px 0%;
	}
	p {
		font-size: 15px;
		line-height: 1.8em;
		margin: 3%;
	}
	.title {
		font-size: 28px;
		text-align: center;
	}
	ul.history {
		display: block;
		max-width: 75%;
		margin: 30px auto;
		@media (max-width: $rwd-xs-max) {
			max-width: 100%;
		}
		li {
			font-size: 18px;
			line-height: 1.5em;
			margin-bottom: 10px;
		}
	}
}

.more_area {
	position: relative;
    width: 100%;
    padding: 3%;
    display: inline-block;
}
.more {
	position: absolute;
	right: 3%;
	bottom: 8%;
	z-index: 2;
	color: $main_color;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid $main_color;
	border-radius: 30px;
	padding: 6px 20px 4px;
	line-height: 1em;
	letter-spacing: 1px;
	text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
	box-shadow: 0px 0px 5px #fff inset, 0px 0px 5px #fff, 0px 0px 5px #fff;
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
	// &:hover {
	// 	text-decoration: none;
	// 	background: #ddd;
	// }
	// @media (max-width: 768px) {
    //     left: 36%;
    // }
    @media (max-width: 767px) {
        font-size: 16px;
        padding: 6px 10px 4px;
    }
}
.btn_hover {
    // position: relative;
    overflow: hidden;
    transition: all 0.8s ease;
    &:hover, &:focus {
    	text-shadow: initial;
        text-decoration: none;
        color: #fff;
        &:before {
            content:'';
            top: 50%;
            left: 50%;
            margin-top: -350px;
            margin-left: -350px;
        }
    }
    &:before {
        content:'';
        width: 700px;
        height: 700px;
        display: inline-block;
        background: $main_color;
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: -1;
        border-radius: 1000px;

        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        @media (max-width: $rwd-sm-min) {
            top: 100%;
            left: 45%;
            width: 1000px;
        }
    }
}

// ul, li {
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// }
// .abgne_tab {
// 	clear: left;
// 	width: 100%;
// 	margin: 10px 0;
// }
// ul.tabs {
// 	width: 100%;
// 	height: 32px;
// 	border-bottom: 1px solid #004704;
// 	border-left: 1px solid #004704;
// }
// ul.tabs li {
// 	float: left;
//     height: 40px;
//     line-height: 40px;
//     overflow: hidden;
//     position: relative;
//     margin-bottom: -8px;
//     border: 1px solid #004704;
//     border-left: none;
//     background: #c8e6ca;
//     width: 33.333%;
//     width: 14.28%;
// }
// ul.tabs li a {
// 	display: block;
// 	padding: 0 20px;
// 	color: #000;
// 	border: 1px solid #fff;
// 	text-decoration: none;
//     font-size: 16px;
//     font-weight: bold;
//     text-align: center;
// }
// ul.tabs li a:hover {
// 	background: #ddd;
// }
// ul.tabs li.active  {
// 	background: #fff;
// 	border-bottom: 1px solid#fff;
// }
// ul.tabs li.active a:hover {
// 	background: #fff;
// }

// div.tab_container {
// 	clear: left;
// 	width: 100%;
// 	border: 1px solid #004704;
// 	border-top: none;
// 	background: #fff;
// }
// div.tab_container .tab_content {
// 	padding: 20px;
// }
// div.tab_container .tab_content h2 {
// 	margin: 0 0 20px;
// }

.topic_title {
	font-size: 20px;
	font-weight: bold;
	color: #004704;
	margin: 10px 0px;
}
.topic_description {
	font-size: 16px;
	color: #004704;
	margin: 10px 0px;
}
.resp-tab-active {
	border: 1px solid #004704!important;
    margin-bottom: -1px!important;
    padding: 12px 14px 14px!important;
    border-top: 4px solid #004704!important;
    border-bottom: 0px!important;
}
.resp-tab-content {
    border: 1px solid #c1c1c1;
    border-color: #004704;
}
#parentHorizontalTab .resp-tabs-list li {
	width: 14%;
	text-align: center;
	font-size: 15px;
}
.resp-vtabs ul.resp-tabs-list {
	margin-top: 0px!important;
	width: 12%;
}
.resp-vtabs .resp-tabs-list li {
	text-align: center;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #004704!important;
    border-left: 4px solid #004704!important;
    border-right: 0px solid !important;
}
.resp-vtabs .resp-tabs-container {
	border-color: #004704!important;
	border-radius: 0px;
	width: 88%;
	@media (max-width: $rwd-xs-max) {
		width: 100%;
	}
}
 /* contact.html */
 .contact {
 	margin: 5% auto;
 	display: block;
 }


.footer {
	position: relative;
	width: 100%;
	height: 45px;
	line-height: 45px;
	letter-spacing: 1px;
	background: $main_color;
	color: #fff;
	text-align: center;
	margin-top: 2%;
	@media (max-width: $rwd-xs-max) {
		font-size: 12px;
	}
	&.fixed {
		position: fixed;
		bottom: 0px;
	}
}

.memory {
	* {
		font-family: 'Times New Roman', Times, serif;
	}
	.memory_title {
		font-size: 28px;
		text-align: center;
	}
	.memory_text {
		font-size: 18px;
		text-align: right;
	}
	p {
		font-size: 15px;
		line-height: 1.8em;
	}
}
.old_picture {
	max-width: 600px;
	margin: 0 auto;
}
