
.prod_box {
	padding: 10px;
}
.prod-text {
	color: $main_color;
	&--title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin: 5px auto;
	}
	&--subtitle {
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
	}
	&--center {
		font-size: 16px;
		margin-top: 5px;
		text-align: center;
	}
	&--intro {
		color: $light_green;
	}
	&--tag {
		color: #403ED3;
		margin-top: 10px;
		text-align: center;
	}
	&--tag2 {
		color: #403ED3;
		margin-top: 10px;
		text-align: left;
	}
}
