.kv_slider {
	margin-top: 80px;
	overflow: hidden;
	@media (max-width: $rwd-xs-max) {
		margin-top: 69px;
	}
	.slick-slide {
		position: relative;
	}
	.kv_text {
		position: absolute;
		top: 15%;
		left: 8%;
		width: 100%;
		font-size: 32px;
		font-style: italic;
		font-family: "cursive", "serif";
		color: #fff;
		letter-spacing: 2px;
		line-height: 2em;
		text-shadow: 0px 0px 25px #222, 0px 0px 25px #222, 0px 0px 25px #222, 0px 0px 25px #222, 0px 0px 25px #222, 0px 0px 25px #222;
		@media (max-width: 768px) {
			font-size: 22px;
		}
		@media (max-width: $rwd-xs-max) {
			font-size: 18px;
		}
		span {
			font-family: "cursive", "serif";
			font-size: 32px;
			display: block;
			margin-left: 5%;
			@media (max-width: 768px) {
				font-size: 22px;
			}
			@media (max-width: $rwd-xs-max) {
				font-size: 18px;
			}
		}
	}
}
.slick-arrow {
	z-index: 1;
	&.slick-prev {
		left: 30px;
		width: 35px;
		height: 70px;
		@media (max-width: $rwd-xs-max) {
			left: 5px;
		}
		&:before {
			content: '';
			// background: url(../images/arrow.svg);
			background: url(../images/arrow_green.png);
			background-repeat: no-repeat;
			background-size: 200%;
			background-position: 0px center;
			width: 35px;
    		height: 70px;
			display: inline-block;
			@media (max-width: $rwd-xs-max) {
				width: 25px;
    			height: 50px;
			}
		}
	}
	&.slick-next {
		right: 30px;
		width: 35px;
    	height: 70px;
    	@media (max-width: $rwd-xs-max) {
			right: 5px;
		}
		&:before {
			content: '';
			background: url(../images/arrow_green.png);
			background-repeat: no-repeat;
			background-size: 200%;
			background-position: -35px center;
			width: 35px;
    		height: 70px;
			display: inline-block;
			@media (max-width: $rwd-xs-max) {
				width: 25px;
    			height: 50px;
    			background-position: -25px center;
			}
		}
	}
}
.slick-dots {
	bottom: 4%;
	li {
		margin: 0 10px;
		button {
			&:before {
				content: '';
				border: 3px solid #fff;
			    border-radius: 25px;
			    width: 20px;
			    height: 20px;
			    box-shadow: 0px 0px 20px #000;
			    @media (max-width: $rwd-xs-max) {
			    	border: 2px solid #fff;
			    	width: 14px;
			    	height: 14px;
			    }
			}
		}
		&.slick-active {
			button {
				&:before {
					background: #003503;
				}
			}
		}
	}
}
.year_wrapper {
	width: 70%;
	margin: 5% auto;
	@media (max-width: $rwd-xs-max) {
		width: 100%;
	}
}
.year_slider {
	.green_circle {
		width: 300px;
		height: 300px;
		display: inline-block;
		background: $main_color;
		border-radius: 50%;
		color: #fff;
		position: relative;
		top: 0;
		left: 50%;
		margin-left: -150px;
		text-align: center;
		@media (max-width: $iphone6-portrait){
			width: 240px;
			height: 240px;
			margin-left: -120px;
		}
		// @media (max-width: $iphone5-portrait){
		// 	width: 200px;
		// 	height: 200px;
		// 	margin-left: -100px;
		// }
		p {
			width: 80%;
			position: absolute;
			left: 10%;
			top: 20%;

			font-size: 30px;
			display:inline-block;
			vertical-align: middle;
			@media (max-width: $iphone6-portrait){
				font-size: 24px;
			}
			span {
				display: block;
				margin-top: 20px;
				@media (max-width: $iphone6-portrait){
					margin-top: 0px;
				}
			}
		}

		// &:before{
		// 	content:'';
		// 	width:0;
		// 	height:100%;
		// 	display:inline-block;
		// 	position:relative;
		// 	vertical-align:middle;
		// 	background:#f00;
		// }
		// p {
		// 	font-size: 30px;
		// 	display:inline-block;
		// 	vertical-align: middle;
		// 	span {
		// 		display: block;
		// 		margin-top: 20px;
		// 	}
		// }
	}
	.slick-dots {
		display: none !important;
	}
}

.store1_slider,
.store2_slider,
.store3_slider {
	// max-width: 600px;
	width: 90%;
	display: block;
	margin: 3% auto;
	@media (max-width: $rwd-md-min){
		width: 80%;
	}
	.slick-arrow.slick-next {
	    right: -50px;
	}
	.slick-arrow.slick-prev {
	    left: -50px;
	}
}