// #timeline {
//     width: 800px;
//     height: 350px;
//     overflow: hidden;
//     margin: 100px auto;
//     position: relative;
//     background: url('../images/dot.png') left 45px repeat-x;
// }

// #dates {
//     width: 800px;
//     height: 60px;
//     overflow: hidden;
//     margin-left: 30%!important;
// }

// #dates li {
//     list-style: none;
//     float: left;
//     width: 100px;
//     height: 50px;
//     font-size: 24px;
//     text-align: center;
//     background: url('../images/biggerdot.png') center bottom no-repeat;
// }

// #dates a {
//     line-height: 38px;
//     padding: 2px 5px;
//     margin-bottom: 10px;
//     color: #004704;
// }

// #dates .selected {
//     font-size: 24px;
//     color: #004704;
//     border: 1px solid #004704;
//     text-decoration: none;
// }

// #issues {
//     width: 800px;
//     height: 350px;
//     overflow: hidden;
// }

// #issues li {
//     width: 800px;
//     height: 350px;
//     list-style: none;
//     float: left;
// }

// #issues li.selected img {
//     -webkit-transform: scale(1.1, 1.1);
//     -moz-transform: scale(1.1, 1.1);
//     -o-transform: scale(1.1, 1.1);
//     -ms-transform: scale(1.1, 1.1);
//     transform: scale(1.1, 1.1);
// }

// #issues li img {
//     float: left;
//     margin: 10px 30px 10px 50px;
//     background: transparent;
//     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
//     /* IE 8 */
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
//     /* IE 6 & 7 */
//     zoom: 1;
//     -webkit-transition: all 2s ease-in-out;
//     -moz-transition: all 2s ease-in-out;
//     -o-transition: all 2s ease-in-out;
//     -ms-transition: all 2s ease-in-out;
//     transition: all 2s ease-in-out;
//     -webkit-transform: scale(0.7, 0.7);
//     -moz-transform: scale(0.7, 0.7);
//     -o-transform: scale(0.7, 0.7);
//     -ms-transform: scale(0.7, 0.7);
//     transform: scale(0.7, 0.7);
// }

// #issues li h1 {
//     color: #ffcc00;
//     font-size: 48px;
//     margin: 20px 0;
//     text-shadow: #000 1px 1px 2px;
// }

// #issues li p {
//     font-size: 14px;
//     margin-right: 70px;
//     font-weight: normal;
//     line-height: 22px;
//     text-shadow: #000 1px 1px 2px;
// }

// #grad_left,
// #grad_right {
//     width: 100px;
//     height: 350px;
//     position: absolute;
//     top: 0;
// }

// #grad_left {
//     left: 0;
//     background: url('../images/grad_left.png') repeat-y;
// }

// #grad_right {
//     right: 0;
//     background: url('../images/grad_right.png') repeat-y;
// }

// #next,
// #prev {
//     position: absolute;
//     top: 0;
//     font-size: 70px;
//     top: 170px;
//     width: 40px;
//     height: 82px;
//     background-position: 0 0;
//     background-repeat: no-repeat;
//     text-indent: -9999px;
//     overflow: hidden;
// }

// #next {
//     right: 0;
//     background-image: url('../images/next.png');
//     background-size: contain;
// }
// #prev {
//     left: 0;
//     background-image: url('../images/prev.png');
//     background-size: contain;
// }
// #next.disabled,
// #prev.disabled {
//     opacity: 0.2;
// }


#timeline {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    margin-bottom: -30%;
    &:before {
        content: '';
        height: 5px;
        width: 100%;
        display: inline-block;
        background: $main_color;
        position: absolute;
        top: 38%;
    }
    a {
        color: $main_color;
        text-decoration: none;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s;
        &:hover {
            color: $light_green;
        }
    }
    a.selected {
        color: #FFF;
    }
    h1 {
        text-align: center;
        color: #ccc;
        text-shadow: #000 1px 1px 2px;
        margin-bottom: 5px;
        font-size: 18px;
    }
}

.year_circle {
    width: 315px;
    height: 315px;
    border-radius: 320px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -9;
    top: -400px;
    overflow: visible;
    background: rgb(46, 127, 56);
    background: -moz-linear-gradient(top, rgb(46, 127, 56) 0%, rgb(26, 103, 34) 100%);
    background: -webkit-linear-gradient(top, rgb(46, 127, 56) 0%, rgb(26, 103, 34) 100%);
    background: linear-gradient(to bottom, rgb(46, 127, 56) 0%, rgb(26, 103, 34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7f38', endColorstr='#1a6722', GradientType=0);
}

#dates {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    height: 110px;
    overflow: hidden;
    position: relative;
    top: 250px;
    z-index: 1;
    li {
        list-style: none;
        float: left;
        width: 20%; //5個
        width: 16.6%; //6個
        width: 33%; //3個
        height: 50px;
        text-align: center;
        display: inline-block;
        position: relative;
        @media (max-width: $rwd-xs-max) {
            //991
            width: 30%;
        }
        &:before {
            content: '';
            width: 16px;
            height: 16px;
            display: inline-block;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background: $main_color;
            position: absolute;
            left: 48%;
            top: 76%;
        }
        .selected {
            font-size: 24px;
        }
    }
    a {
        line-height: 1.5em;
        position: relative;
        top: 60px;
        color: $main_color;
        font-size: 18px;
    }
}

#issues {
    margin: 0;
    padding: 0;
    height: 350px;
    overflow: hidden;
    position: relative;
    left: 40.5%;
    top: -10px;
    @media (max-width: 1024px) {
        left: 39%;
    }
    @media (max-width: 768px) {
        left: 36%;
    }
    @media (max-width: 767px) {
        left: 25%;
    }
    li {
        width: 300px;
        width: 19.8%; //5個
        width: 16.6%; //6個
        width: 33%; //3個
        // height: 140px;
        // height: 350px;
        list-style: none;
        float: left;
        text-align: center;
        // @media (max-width: $rwd-xs-max) {
        //     width: 30%;
        //     height: 250px;
        // }
        h1 {
            color: #ffcc00;
            font-size: 48px;
            margin: 20px 0;
            text-shadow: #000 1px 1px 2px;
            position: relative;
            top: -60px;
        }
        p {
            margin: 0;
            padding: 0;
            // font-size: 14px;
            font-weight: normal;
            line-height: 34px;
            // font-size: 20px;
            line-height: 1.5em;
            font-size: 16px;
            text-align: justify;
            position: relative;
            left: 0px;
            top: 20px;
            color: #FFF;
            width: 60%;
            @media (max-width: 1024px) {
                width: 70%;
            }
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 767px) {
                width: 200px;
            }
        }
    }
}

#prev {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 30px;
    height: 90px;
    text-indent: -9999px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/arrow_green.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 0px center;
    @media (max-width: $rwd-sm-max) {
        top: 20%;
        left: 15%;
    }
    @media (max-width: $rwd-xs-max) {
        left: 0px;
    }
}

#next {
    position: absolute;
    top: 25%;
    right: 30%;
    width: 30px;
    height: 90px;
    text-indent: -9999px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/arrow_green.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: -30px center;
    @media (max-width: $rwd-sm-max) {
        top: 20%;
        right: 15%;
    }
    @media (max-width: $rwd-xs-max) {
        right: 0px;
    }
}

#next.disabled {
    opacity: 0.2;
}

#prev.disabled {
    opacity: 0.2;
}
